/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2018, 7:07:24 PM
    Author     : Singer
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2018, 5:25:20 PM
    Author     : Singer
*/

body{
	background-image: url("CSS/Background.jpeg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: 100% 100%; 
	font-family: Novecentosanswide-Bold;
        -webkit-font-smoothing: antialiased; 
}

@font-face{
	font-family: Novecentosanswide-Bold;
	src:url("Novecentosanswide-Bold.otf");
}

.Top{
    float: left;
    width: 100%;
    height: 75px;
}

#topicD{
    width: 40%;
    height: 40px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}
#topicS{
    width: 30%;
    height: 40px;
    float: left;
}
#Side1{
    width: 30%;
    height: 440px;
    float: left;
}
#Div1{
    width: 40%;
    height: 440px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}
#Side2{
    width: 30%;
    height: 160px;
    float: left;
}
#Div2{
    width: 40%;
    height: 160px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}
#Side3{
    width: 30%;
    height: 50px;
    float: left;
}
#Div3{
    width: 40%;
    height: 50px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}
#SideD{
    width: 30%;
    height: 80px;
    float: left;
}
#DivD{
    width: 40%;
    height: 80px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}
#SideF{
    width: 30%;
    height: 40px;
    float: left;
}
#DivF{
    width: 40%;
    height: 40px;
    background-color: white;
    opacity: 0.7;
    content: ' ';
    float: left;
}

.table{
    color: black;
    font-family: Novecentosanswide-Bold;
    table-layout: auto;
    height: 100px;
    text-align: center;
    border-radius: 25px;
}
.tableF{
    color: black;
    font-family: Novecentosanswide-Bold;
    table-layout: auto;
    height: 40px;
    text-align: center;
    border-radius: 25px;
}

.Button{
    background-color: #FFFF33;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #008080;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Novecentosanswide-Bold;
    font-size:17px;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.Button:hover {
	background-color:#5cbf2a;
}
.Button:active {
	position:relative;
	top:1px;
}

.Text{
    width: 50%;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid black;
    padding: 3px 10px;
}
 .Text:focus {
     outline:none;
}
a:link, a:visited {
    background-color: #FFFF33;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #008080;
    color: black;
    cursor:pointer;
    padding: 10px 15px;
    font-family:Novecentosanswide-Bold;
    font-size:17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-shadow:0px 1px 0px #2f6627;
}
a:hover{
	background-color:#5cbf2a;
} 
a:active {
    position:relative;
	top:1px;
}